h1 {
    font-family: 'IBM Plex Sans';
    font-size: 40px;
    color: #000000;
    font-weight: bolder;
    margin: 0;
    letter-spacing: -2px;
}

h3 {
    font-family: 'IBM Plex Sans';
    font-size: 25px;
    color: #000000;
    font-weight: bolder;
    margin: 0;
    letter-spacing: -1px;
}

p {
    font-family: "Roboto", sans-serif;
    color: #000000;
}

a {
    font-family: 'Cascadia Code', sans-serif;
    color: #000000;
    font-weight: bold;
}

a:hover {
	color: #0004FF;
    font-weight: bold;
}

.main {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 500px;
    margin: auto;
}

.top {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -10px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 35px;
}

.email {
    width: 150px;
}

.contact {
    width: 102%;
    left: -5px;
}

.s {
    border: 1px solid black;
}